@page
@model RegisterModel

@{
    ViewData["Title"] = "Registrera";
}

<div class="row">
    <div class="col-md-12">
        <form id="registerForm" class="row" asp-route-returnUrl="@Model.ReturnUrl" method="post">
            <h2 style="text-align: center">Skapa konto</h2>
            <hr />
            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
            <div class="form-floating mb-3 col-md-6">
                <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="" />
                <label asp-for="Input.Email">E-Post</label>
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div> 
            <div class="form-floating mb-3 col-md-6">
                <input asp-for="Input.FullName" class="form-control" autocomplete="username" aria-required="true" placeholder="" />
                <label asp-for="Input.FullName">Namn</label>
                <span asp-validation-for="Input.FullName" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3 col-md-6">
                <input asp-for="Input.Password" class="form-control" aria-required="true" placeholder="" />
                <label asp-for="Input.Password">Lösenord</label>
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3 col-md-6">
                <input asp-for="Input.ConfirmPassword" class="form-control" aria-required="true" placeholder="" />
                <label asp-for="Input.ConfirmPassword">Bekräfta Lösenordet</label>
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div> 
            <div class="form-floating mb-3 col-md-6">
                <input asp-for="Input.Address" class="form-control" aria-required="true" placeholder="" />
                <label asp-for="Input.Address">Adress</label>
                <span asp-validation-for="Input.Address" class="text-danger"></span>
            </div> 
            <div class="form-floating mb-3 col-md-6">
                <input asp-for="Input.City" class="form-control" autocomplete="new-password" aria-required="true" placeholder="" />
                <label asp-for="Input.City">Stad</label>
                <span asp-validation-for="Input.City" class="text-danger"></span>
            </div> 
            <div class="form-floating mb-3 col-md-6">
                <input asp-for="Input.PostalCode" class="form-control" aria-required="true" placeholder="" />
                <label asp-for="Input.PostalCode">Postnummer</label>
                <span asp-validation-for="Input.PostalCode" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3 col-md-6">
                <select asp-for="Input.Role" asp-items="@Model.Input.RoleList" class="form-select">
                    <option disabled selected>Välj typ</option> 
                </select>
            </div>
            <button id="registerSubmit" type="submit" class="w-100 btn btn-lg btn-primary">Registrera</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
